@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
        <h1>Намерете си работа преди пълнолетие</h1>
        <p>RELiWork помага на тийнейджърите в 16 до 19 годишната възрастова група, които изпитват <br>,затруднения при намирането на работно място, да открият подходящата позиция за тях. </p>
    <div>
        <a class="see-more-link" asp-action="AboutUs">
            <div class="see-more">
                <span></span>
                Виж повече
           </div>
       </a>
    </div>
</div>